/ {
    /* GPIO Outputs for 4 LEDs */
    gpio_outputs {
        compatible = "gpio-leds";
        led1: led1 {
            gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>; // PB4 -> D12
        };
        led2: led2 {
            gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>; // PB5 -> D11
        };
        led3: led3 {
            gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>; // PA8 -> D9
        };
        led4: led4 {
            gpios = <&gpioa 11 GPIO_ACTIVE_HIGH>; // PA11 -> D10
        };
    };
};

/* Enable and configure the ADC */
&adc1 {
    status = "okay";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <1>;
    #address-cells = <1>;
    #size-cells = <0>;
    
    channel_5: channel@5 {  // Channel 5 linked to pin PA0
        reg = <5>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};