/ {
 lcd_screen: hd44780 {
 compatible = "hit,hd44780";
 mode = <4>; // Operating in 4-bit mode.
 register-select-gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>; // LCD Register Select (RS)
GPIO PA6 to pin4
 enable-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>; // Enable to send commands GPIO PA7 to pin6
 data-bus-gpios = <0>, / An array of 8 GPIO pins. If this
 <0>, // operates on 4-bit mode we only
 <0>, // need to link the last 4 to GPIOs pins
 <0>,
<&gpioa 8 GPIO_ACTIVE_HIGH>, // GPIO PA8 to LCD pin11
 <&gpioa 11 GPIO_ACTIVE_HIGH>, // GPIO PA11 to LCD pin12
 <&gpiob 5 GPIO_ACTIVE_HIGH>, // GPIO PB5 to LCD pin13
 <&gpiob 4 GPIO_ACTIVE_HIGH>; // GPIO PB4 to LCD pin14
 columns = <16>; // LCD number of columns
 rows = <2>; // LCD number of rows
 };
};

/* Enable and configure the ADC */
&adc1 {
    status = "okay";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <1>;
    #address-cells = <1>;
    #size-cells = <0>;
    
    channel_5: channel@5 {  // Channel 5 linked to pin PA0
        reg = <5>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};