/{
    pwmleds: pwmleds {
        compatible = "pwm-leds";
        status = "okay";
        green_pwm_led: green_pwm_led {
            pwms = <&pwm2 4 PWM_MSEC(20) PWM_POLARITY_NORMAL>; // &pwm2 links to TIM2_CH4 and PA3
        };
    };
};

&pwm2 {
    status = "okay";
    pinctrl-0 = <&pwm2_custom>;
};

&pinctrl {
    pwm2_custom: pwm2_custom {
        pinmux = <STM32_PINMUX('A', 3, AF1)>; // Alternative function AF1 for this pin
    };
};

/* Enable and configure the ADC */
&adc1 {
    status = "okay";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <1>;
    #address-cells = <1>;
    #size-cells = <0>;
    
    channel_5: channel@5 {  // Channel 5 linked to pin PA0
        reg = <5>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};